DB_HOST="aws-0-[REGION].pooler.supabase.com"
DB_PORT="5432"
DB_NAME="postgres"
DB_USER="postgres.[PROJECT-REF]"
DB_PASSWORD="[YOUR-PASSWORD]"

RESEND_API_KEY=""
RESEND_DOMAIN=""

JWT_ACCESS_KEY=""
JWT_REFRESH_KEY=""
